<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BLUETOOTH</key>
	<dict>
		<key>controller</key>
		<string>BluetoothViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_BLUETOOTH</string>
		<key>message</key>
		<string>ROOTLIST_DESC_BLUETOOTH</string>
		<key>icon</key>
		<string>icono_bluetooth_c</string>
		<key>auto</key>
		<true/>
		<key>priority</key>
		<integer>1</integer>
	</dict>
	<key>WIFI</key>
	<dict>
		<key>controller</key>
		<string>WifiViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_WIFI</string>
		<key>message</key>
		<string>ROOTLIST_DESC_WIFI</string>
		<key>icon</key>
		<string>icono_wifi_c</string>
		<key>auto</key>
		<true/>
		<key>priority</key>
		<integer>2</integer>
	</dict>
	<key>ROOT</key>
	<dict>
		<key>controller</key>
		<string>JailBreakViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_ROOT</string>
		<key>message</key>
		<string>ROOTLIST_DESC_ROOT</string>
		<key>icon</key>
		<string>cydia</string>
		<key>auto</key>
		<true/>
		<key>priority</key>
		<integer>3</integer>
	</dict>
	<key>GPS</key>
	<dict>
		<key>controller</key>
		<string>GPSViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_GPS</string>
		<key>message</key>
		<string>ROOTLIST_DESC_GPS</string>
		<key>icon</key>
		<string>satellite</string>
		<key>auto</key>
		<true/>
		<key>priority</key>
		<integer>3</integer>
	</dict>
	<key>VIBRATION</key>
	<dict>
		<key>controller</key>
		<string>VibrationViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_VIBRATION</string>
		<key>message</key>
		<string>ROOTLIST_DESC_VIBRATION</string>
		<key>icon</key>
		<string>boton_vibrador</string>
		<key>priority</key>
		<integer>4</integer>
	</dict>
	<key>AC_USB_PLUG_TEST</key>
	<dict>
		<key>controller</key>
		<string>ACUsbPlugViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_AC_USB_PLUG_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_AC_USB_PLUG_TEST</string>
		<key>icon</key>
		<string>icon_usb</string>
		<key>priority</key>
		<integer>5</integer>
	</dict>
	<key>COMPUTER_USB_PLUG_TEST</key>
	<dict>
		<key>controller</key>
		<string>ComputerUSBPlugViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_COMPUTER_USB_PLUG_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_COMPUTER_USB_PLUG_TEST</string>
		<key>icon</key>
		<string>icon_usb</string>
		<key>priority</key>
		<integer>6</integer>
	</dict>
	<key>WIRELESS_CHARGING</key>
	<dict>
		<key>controller</key>
		<string>WirelessChargingViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_WIRELESS_CHARGING_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_WIRELESS_CHARGING_TEST</string>
		<key>icon</key>
		<string>icon_wireless_charging</string>
		<key>priority</key>
		<string>6</string>
	</dict>
	<key>FRONT_CAMERA_BLACK_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraModelViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_FRONT_CAMERA_BLACK_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_FRONT_CAMERA_BLACK_TEST</string>
		<key>icon</key>
		<string>icon_camerafront</string>
		<key>direction</key>
		<string>front</string>
		<key>color</key>
		<string>CAMERA_CONTROLLER_BLACK</string>
		<key>priority</key>
		<integer>7</integer>
	</dict>
	<key>FRONT_CAMERA_PATTERN_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraModelViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_FRONT_CAMERA_PATTERN_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_FRONT_CAMERA_PATTERN_TEST</string>
		<key>icon</key>
		<string>icon_camerafront</string>
		<key>direction</key>
		<string>front</string>
		<key>color</key>
		<string>CAMERA_CONTROLLER_PATTERN</string>
		<key>priority</key>
		<integer>8</integer>
	</dict>
	<key>FRONT_CAMERA_WHITE_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraModelViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_FRONT_CAMERA_WHITE_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_FRONT_CAMERA_WHITE_TEST</string>
		<key>icon</key>
		<string>icon_camerafront</string>
		<key>direction</key>
		<string>front</string>
		<key>color</key>
		<string>CAMERA_CONTROLLER_WHITE</string>
		<key>priority</key>
		<integer>9</integer>
	</dict>
	<key>BACK_CAMERA_BLACK_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraModelViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_BACK_CAMERA_BLACK_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_BACK_CAMERA_BLACK_TEST</string>
		<key>icon</key>
		<string>icono_camarappal_c</string>
		<key>direction</key>
		<string>back</string>
		<key>color</key>
		<string>CAMERA_CONTROLLER_BLACK</string>
		<key>priority</key>
		<integer>10</integer>
	</dict>
	<key>BACK_CAMERA_PATTERN_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraModelViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_BACK_CAMERA_PATTERN_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_BACK_CAMERA_PATTERN_TEST</string>
		<key>icon</key>
		<string>icono_camarappal_c</string>
		<key>direction</key>
		<string>back</string>
		<key>color</key>
		<string>CAMERA_CONTROLLER_PATTERN</string>
		<key>priority</key>
		<integer>11</integer>
	</dict>
	<key>BACK_CAMERA_WHITE_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraModelViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_BACK_CAMERA_WHITE_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_BACK_CAMERA_WHITE_TEST</string>
		<key>icon</key>
		<string>icono_camarappal_c</string>
		<key>direction</key>
		<string>back</string>
		<key>priority</key>
		<integer>12</integer>
	</dict>
	<key>FRONT_CAMERA_BLACK_CAPTURE_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraPictureViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_FRONT_BLACK_CAMERA_PICTURE</string>
		<key>message</key>
		<string>ROOTLIST_DESC_FRONT_CAMERA_PICTURE</string>
		<key>icon</key>
		<string>icon_picture_app_front_normal</string>
		<key>direction</key>
		<string>front</string>
		<key>color</key>
		<string>CAMERA_PICTURE_CONTROLLER_BLACK</string>
		<key>priority</key>
		<integer>13</integer>
	</dict>
	<key>FRONT_CAMERA_PATTERN_CAPTURE_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraPictureViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_FRONT_PATTERN_CAMERA_PICTURE</string>
		<key>message</key>
		<string>ROOTLIST_DESC_FRONT_CAMERA_PICTURE</string>
		<key>icon</key>
		<string>icon_picture_app_front_normal</string>
		<key>direction</key>
		<string>front</string>
		<key>color</key>
		<string>CAMERA_PICTURE_CONTROLLER_PATTERN</string>
		<key>priority</key>
		<integer>14</integer>
	</dict>
	<key>FRONT_CAMERA_WHITE_CAPTURE_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraPictureViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_FRONT_WHITE_CAMERA_PICTURE</string>
		<key>message</key>
		<string>ROOTLIST_DESC_FRONT_CAMERA_PICTURE</string>
		<key>icon</key>
		<string>icon_picture_app_front_normal</string>
		<key>direction</key>
		<string>front</string>
		<key>color</key>
		<string>CAMERA_PICTURE_CONTROLLER_WHITE</string>
		<key>priority</key>
		<integer>15</integer>
	</dict>
	<key>BACK_CAMERA_BLACK_CAPTURE_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraPictureViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_BACK_BLACK_CAMERA_PICTURE</string>
		<key>message</key>
		<string>ROOTLIST_DESC_BACK_CAMERA_PICTURE</string>
		<key>icon</key>
		<string>icon_picture_app_back_normal</string>
		<key>direction</key>
		<string>back</string>
		<key>color</key>
		<string>CAMERA_PICTURE_CONTROLLER_BLACK</string>
		<key>priority</key>
		<integer>16</integer>
	</dict>
	<key>BACK_CAMERA_PATTERN_CAPTURE_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraPictureViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_BACK_PATTERN_CAMERA_PICTURE</string>
		<key>message</key>
		<string>ROOTLIST_DESC_BACK_CAMERA_PICTURE</string>
		<key>icon</key>
		<string>icon_picture_app_back_normal</string>
		<key>direction</key>
		<string>back</string>
		<key>color</key>
		<string>CAMERA_PICTURE_CONTROLLER_PATTERN</string>
		<key>priority</key>
		<integer>17</integer>
	</dict>
	<key>BACK_CAMERA_WHITE_CAPTURE_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraPictureViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_BACK_WHITE_CAMERA_PICTURE</string>
		<key>message</key>
		<string>ROOTLIST_DESC_BACK_CAMERA_PICTURE</string>
		<key>icon</key>
		<string>icon_picture_app_back_normal</string>
		<key>direction</key>
		<string>back</string>
		<key>color</key>
		<string>CAMERA_PICTURE_CONTROLLER_WHITE</string>
		<key>priority</key>
		<integer>18</integer>
	</dict>
	<key>FRONT_CAMERA_WHITE_BALANCE_TEST</key>
	<dict>
		<key>controller</key>
		<string>WhiteBalanceViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_WHITE_BALANCE_FRONT</string>
		<key>message</key>
		<string>ROOTLIST_DESC_FRONT_CAMERA_PICTURE</string>
		<key>icon</key>
		<string>icono_front_wb</string>
		<key>direction</key>
		<string>front</string>
		<key>priority</key>
		<integer>19</integer>
	</dict>
	<key>BACK_CAMERA_WHITE_BALANCE_TEST</key>
	<dict>
		<key>controller</key>
		<string>WhiteBalanceViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_WHITE_BALANCE_BACK</string>
		<key>message</key>
		<string>ROOTLIST_DESC_BACK_CAMERA_PICTURE</string>
		<key>icon</key>
		<string>icono_back_wb</string>
		<key>direction</key>
		<string>back</string>
		<key>priority</key>
		<integer>20</integer>
	</dict>
	<key>FRONT_CAMERA_VIDEO_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraVideoViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_FRONT_CAMERA_VIDEO</string>
		<key>message</key>
		<string>ROOTLIST_DESC_FRONT_CAMERA_VIDEO</string>
		<key>icon</key>
		<string>icon_camera_app_back_normal</string>
		<key>direction</key>
		<string>front</string>
		<key>priority</key>
		<integer>21</integer>
	</dict>
	<key>BACK_CAMERA_VIDEO_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraVideoViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_BACK_CAMERA_VIDEO</string>
		<key>message</key>
		<string>ROOTLIST_DESC_BACK_CAMERA_VIDEO</string>
		<key>icon</key>
		<string>icon_camera_app_back_normal</string>
		<key>direction</key>
		<string>back</string>
		<key>priority</key>
		<integer>22</integer>
	</dict>
	<key>FRONT_CAMERA_ADV_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraAttributeViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_AD_FRONT_CAMERA_ATT_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_FRONT_CAMERA_PICTURE</string>
		<key>icon</key>
		<string>icon_picture_app_front_advanced</string>
		<key>direction</key>
		<string>front</string>
		<key>priority</key>
		<integer>23</integer>
	</dict>
	<key>BACK_CAMERA_ADV_TEST</key>
	<dict>
		<key>controller</key>
		<string>CameraAttributeViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_AD_BACK_CAMERA_ATT_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_BACK_CAMERA_PICTURE</string>
		<key>icon</key>
		<string>icon_picture_app_back_advanced</string>
		<key>direction</key>
		<string>back</string>
		<key>priority</key>
		<integer>24</integer>
	</dict>
	<key>PHYSICAL_KEYS_TEST2</key>
	<dict>
		<key>controller</key>
		<string>CombineKeyViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_COMBINE_KEY_TESTS</string>
		<key>message</key>
		<string>ROOTLIST_DESC_COMBINE_KEY_TESTS</string>
		<key>icon</key>
		<string>icon_keyboard_button</string>
		<key>priority</key>
		<integer>25</integer>
	</dict>
	<key>PHYSICAL_KEYS_TEST</key>
	<dict>
		<key>controller</key>
		<string>PhysicalKeyViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_PHYSICAL_KEYS_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_PHYSICAL_KEYS_TEST</string>
		<key>icon</key>
		<string>icon_keyboard_button</string>
		<key>priority</key>
		<integer>26</integer>
	</dict>
	<key>HOME_KEY_TEST</key>
	<dict>
		<key>controller</key>
		<string>HomeKeyViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_HOME_KEYS_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_HOME_KEYS_TEST</string>
		<key>icon</key>
		<string>icon_keyboard_button</string>
		<key>priority</key>
		<integer>27</integer>
	</dict>
	<key>FLASH_TEST</key>
	<dict>
		<key>controller</key>
		<string>FlashModelViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_FLASH_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_FLASH_TEST</string>
		<key>icon</key>
		<string>icono_flash_c</string>
		<key>priority</key>
		<integer>28</integer>
	</dict>
	<key>GYRO_TEST</key>
	<dict>
		<key>controller</key>
		<string>GyroscopeViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_GYRO_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_GYRO_TEST</string>
		<key>icon</key>
		<string>icono_gyro</string>
		<key>priority</key>
		<integer>29</integer>
	</dict>
	<key>ACCELEROMETER_TEST</key>
	<dict>
		<key>controller</key>
		<string>AccelerometerViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_ACCELEROMETER_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_ACCELEROMETER_TEST</string>
		<key>icon</key>
		<string>icono_acelerometros_c</string>
		<key>priority</key>
		<integer>30</integer>
	</dict>
	<key>MAGNETOMETER_TEST</key>
	<dict>
		<key>controller</key>
		<string>MagnetometerViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_MAGNETOMETER_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_MAGNETOMETER_TEST</string>
		<key>icon</key>
		<string>icono_magnetometer</string>
		<key>priority</key>
		<integer>31</integer>
	</dict>
	<key>MOTION_SENSOR_TEST</key>
	<dict>
		<key>controller</key>
		<string>MotionTestViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_MOTION_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_MOTION_TEST</string>
		<key>icon</key>
		<string>motion_icon</string>
		<key>priority</key>
		<integer>32</integer>
	</dict>
	<key>LIGHT_SENSOR_TEST</key>
	<dict>
		<key>controller</key>
		<string>AmbientLightViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_AMBIENT_LIGHT_SENSOR_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_AMBIENT_LIGHT_SENSOR_TEST</string>
		<key>icon</key>
		<string>icono_light_sensor</string>
		<key>priority</key>
		<integer>33</integer>
	</dict>
	<key>PROXIMITY_SENSOR_TEST</key>
	<dict>
		<key>controller</key>
		<string>ProximityViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_PROXIMITY_SENSOR_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_PROXIMITY_SENSOR_TEST</string>
		<key>icon</key>
		<string>icono_proximity_sensor</string>
		<key>priority</key>
		<integer>34</integer>
	</dict>
	<key>FINGERPRINT</key>
	<dict>
		<key>controller</key>
		<string>FPSViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_FINGERPRINT</string>
		<key>message</key>
		<string>ROOTLIST_DESC_FINGERPRINT</string>
		<key>icon</key>
		<string>touchid</string>
		<key>priority</key>
		<integer>35</integer>
	</dict>
	<key>FACE_DETECTION</key>
	<dict>
		<key>controller</key>
		<string>FaceIDViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_FACEID</string>
		<key>message</key>
		<string>ROOTLIST_DESC_FACEID</string>
		<key>icon</key>
		<string>icon_faceid</string>
		<key>priority</key>
		<integer>35</integer>
	</dict>
	<key>LOUDSPEAKER</key>
	<dict>
		<key>controller</key>
		<string>LouderSpeakerViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_LOUDSPEAKER</string>
		<key>message</key>
		<string>ROOTLIST_DESC_LOUDSPEAKER</string>
		<key>icon</key>
		<string>icono_speaker</string>
		<key>priority</key>
		<integer>36</integer>
	</dict>
	<key>LOW_FREQ_AUDIO</key>
	<dict>
		<key>controller</key>
		<string>LowFrequencyAudioViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_LOW_REQ_AUDIO</string>
		<key>message</key>
		<string>ROOTLIST_DESC_LOW_REQ_AUDIO</string>
		<key>icon</key>
		<string>icono_low_frequency</string>
		<key>priority</key>
		<integer>37</integer>
	</dict>
	<key>HEADSET_TEST</key>
	<dict>
		<key>controller</key>
		<string>HeadsetPlugViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_HEADSET_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_HEADSET_TEST</string>
		<key>icon</key>
		<string>icono_headset</string>
		<key>priority</key>
		<integer>38</integer>
	</dict>
	<key>LCD_BACKLIGHT_TEST</key>
	<dict>
		<key>controller</key>
		<string>BrightnessViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_LCD_BACKLIGHT_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_LCD_BACKLIGHT_TEST</string>
		<key>icon</key>
		<string>icono_luz_c</string>
		<key>priority</key>
		<integer>39</integer>
	</dict>
	<key>LCD_FILL_TEST</key>
	<dict>
		<key>controller</key>
		<string>FillColorViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_LCD_FILL_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_LCD_FILL_TEST</string>
		<key>icon</key>
		<string>icono_pantalla_c</string>
		<key>priority</key>
		<integer>40</integer>
	</dict>
	<key>MAIN_MIC_TEST</key>
	<dict>
		<key>controller</key>
		<string>MicrophoneRecordViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_MAIN_MIC_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_MAIN_MIC_TEST</string>
		<key>icon</key>
		<string>icono_record</string>
		<key>priority</key>
		<integer>41</integer>
	</dict>
	<key>MAIN_MIC_LOOPBACK_TEST</key>
	<dict>
		<key>controller</key>
		<string>MicrophoneLoopBackViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_MAIN_MIC_LOOPBACK_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_MAIN_MIC_LOOPBACK_TEST</string>
		<key>icon</key>
		<string>icono_record</string>
		<key>priority</key>
		<integer>42</integer>
	</dict>
	<key>TOUCH_SCREEN</key>
	<dict>
		<key>controller</key>
		<string>TouchScreenViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_TOUCH_SCREEN</string>
		<key>message</key>
		<string>ROOTLIST_DESC_TOUCH_SCREEN</string>
		<key>icon</key>
		<string>icon_screen</string>
		<key>priority</key>
		<integer>43</integer>
	</dict>
	<key>XTOUCH</key>
	<dict>
		<key>controller</key>
		<string>XTouchViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_XTOUCH</string>
		<key>message</key>
		<string>ROOTLIST_DESC_XTOUCH</string>
		<key>icon</key>
		<string>icon_screen</string>
		<key>priority</key>
		<integer>44</integer>
	</dict>
	<key>TRUE_TONE</key>
	<dict>
		<key>controller</key>
		<string>TrueToneViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_TRUETONE</string>
		<key>message</key>
		<string>ROOTLIST_DESC_TRUETONE</string>
		<key>icon</key>
		<string>icon_truetone</string>
		<key>priority</key>
		<integer>44</integer>
	</dict>
	<key>TOUCH_SCREEN2</key>
	<dict>
		<key>controller</key>
		<string>TPViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_TP_SCREEN</string>
		<key>message</key>
		<string>ROOTLIST_DESC_TP_SCREEN</string>
		<key>icon</key>
		<string>icon_screen</string>
		<key>priority</key>
		<integer>45</integer>
	</dict>
	<key>MULTI_TOUCH_TEST</key>
	<dict>
		<key>controller</key>
		<string>MultiTouchViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_MULTI_TOUCH_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_MULTI_TOUCH_TEST</string>
		<key>icon</key>
		<string>icono_multiple_touch</string>
		<key>priority</key>
		<integer>46</integer>
	</dict>
	<key>TOUCH_PRESSURE</key>
	<dict>
		<key>controller</key>
		<string>PrecisionViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_TOUCH3D</string>
		<key>message</key>
		<string>ROOTLIST_DESC_TOUCH3D</string>
		<key>icon</key>
		<string>icono_touch_pressure</string>
		<key>priority</key>
		<integer>47</integer>
	</dict>
	<key>GHOST_SCREEN_TEST</key>
	<dict>
		<key>controller</key>
		<string>GhostScreenViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_GHOST_SCREEN_TEST</string>
		<key>message</key>
		<string>ROOTLIST_DESC_GHOST_SCREEN_TEST</string>
		<key>icon</key>
		<string>icon_ghost_screen</string>
		<key>priority</key>
		<integer>48</integer>
	</dict>
	<key>SIM_TRAY</key>
	<dict>
		<key>controller</key>
		<string>SimTrayViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_SIM_TRAY</string>
		<key>message</key>
		<string>ROOTLIST_DESC_SIM_TRAY</string>
		<key>icon</key>
		<string>icono_sim_tray</string>
		<key>priority</key>
		<integer>49</integer>
	</dict>
	<key>RF</key>
	<dict>
		<key>controller</key>
		<string>RFTestViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_RF</string>
		<key>message</key>
		<string>ROOTLIST_DESC_RF</string>
		<key>icon</key>
		<string>radio</string>
		<key>priority</key>
		<integer>50</integer>
	</dict>
	<key>POWER_ON_OFF</key>
	<dict>
		<key>controller</key>
		<string>PowerOnOffViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_POWER_ON_OFF</string>
		<key>message</key>
		<string>ROOTLIST_DESC_POWER_ON_OFF</string>
		<key>icon</key>
		<string>icono_power_on_off</string>
		<key>priority</key>
		<integer>51</integer>
	</dict>
	<key>BATTERY2</key>
	<dict>
		<key>controller</key>
		<string>BatteryViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_BATTERY</string>
		<key>message</key>
		<string>ROOTLIST_DESC_BATTERY</string>
		<key>icon</key>
		<string>icon_battery</string>
		<key>priority</key>
		<integer>52</integer>
	</dict>
	<key>LDI_STICKER</key>
	<dict>
		<key>controller</key>
		<string>WaterDamgeViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_LDI_STICKER</string>
		<key>message</key>
		<string>ROOTLIST_DESC_LDI_STICKER</string>
		<key>icon</key>
		<string>icono_ldi_sticker</string>
		<key>priority</key>
		<integer>53</integer>
	</dict>
	<key>DEVICE_INFO</key>
	<dict>
		<key>controller</key>
		<string>DeviceInfoViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_DEVICEINFO</string>
		<key>message</key>
		<string>ROOTLIST_DESC_DEVICE_INFO</string>
		<key>icon</key>
		<string>icono_device_info</string>
		<key>priority</key>
		<integer>54</integer>
	</dict>
	<key>LCD_FILL_TEST2</key>
	<dict>
		<key>controller</key>
		<string>FillColor4ItouchuViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_LCD_FILL_TEST2</string>
		<key>message</key>
		<string>ROOTLIST_DESC_GHOST_SCREEN_TEST</string>
		<key>icon</key>
		<string>icono_screen_condition</string>
		<key>priority</key>
		<integer>55</integer>
	</dict>
	<key>FRONT_CAMERA_VIDEO_TEST2</key>
	<dict>
		<key>controller</key>
		<string>CameraVideo4ItouchuViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_FRONT_CAMERA_VIDEO_TEST2</string>
		<key>message</key>
		<string>ROOTLIST_DESC_FRONT_CAMERA_VIDEO</string>
		<key>icon</key>
		<string>icono_front_video2</string>
		<key>direction</key>
		<string>front</string>
		<key>priority</key>
		<integer>56</integer>
	</dict>
	<key>BACK_CAMERA_VIDEO_TEST2</key>
	<dict>
		<key>controller</key>
		<string>CameraVideo4ItouchuViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_BACK_CAMERA_VIDEO_TEST2</string>
		<key>message</key>
		<string>ROOTLIST_DESC_BACK_CAMERA_VIDEO</string>
		<key>icon</key>
		<string>icono_back_video_2</string>
		<key>direction</key>
		<string>back</string>
		<key>priority</key>
		<integer>57</integer>
	</dict>
	<key>DECORATION</key>
	<dict>
		<key>controller</key>
		<string>DecorationViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_DECORATION</string>
		<key>message</key>
		<string>ROOTLIST_DESC_DECORATION</string>
		<key>icon</key>
		<string>icono_decoration</string>
		<key>priority</key>
		<integer>58</integer>
	</dict>
	<key>LCD_CRACK</key>
	<dict>
		<key>controller</key>
		<string>LCDCrackViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_LCD_CRACK</string>
		<key>message</key>
		<string>ROOTLIST_DESC_LCD_CRACK</string>
		<key>icon</key>
		<string>icono_lcd_crack</string>
		<key>priority</key>
		<integer>59</integer>
	</dict>
	<key>REMOVE_ACCESSORY</key>
	<dict>
		<key>controller</key>
		<string>RemoveAttachedViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_REMOVE_ACCESSORY</string>
		<key>message</key>
		<string>ROOTLIST_DESC_REMOVE_ACCESSORY</string>
		<key>icon</key>
		<string>icono_remove_attached</string>
		<key>priority</key>
		<integer>60</integer>
	</dict>
	<key>ENGRAVING_TEST</key>
	<dict>
		<key>controller</key>
		<string>EngravingViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_ENGRAVING</string>
		<key>message</key>
		<string>ROOTLIST_DESC_ENGRAVING</string>
		<key>icon</key>
		<string>icon_engraving</string>
		<key>priority</key>
		<integer>61</integer>
	</dict>
	<key>SCREEN_GLASS_CRACK</key>
	<dict>
		<key>controller</key>
		<string>CrashScreenViewController</string>
		<key>title</key>
		<string>ROOTLIST_TITLE_CRASHSCREEN</string>
		<key>message</key>
		<string>ROOTLIST_DESC_CRASHSCREEN</string>
		<key>icon</key>
		<string>icon_crash_screen</string>
		<key>priority</key>
		<integer>62</integer>
	</dict>
</dict>
</plist>
